<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium WebDriver">
    <groups>
        <run>
            <include name="category"/>
        </run>
    </groups>
    <test name="Group Annotation"></test>
    <packages>
        <package name="category"></package>
        <package name="payment"></package>
        <package name="product"></package>
    </packages>
</suite>